---
---
@import "style";

.profile-picture {
  @include media-query-at-least($md) {
    max-width: 100%;
  }
  margin-bottom: 1rem;
}

.introduction {
  @include media-query-at-most($md) {
    padding-left: 1rem;
  }
  @include media-query-at-least($md) {
    padding-left: 5rem;
  }
}