<!doctype html>
<html lang="en">
  {%- assign stylesheet = page.stylesheet | default: "/assets/css/main.css" | relative_url -%}
  {%- include metadata/head.html stylesheet=stylesheet -%}
  <div class="container.fluid">
    <body>
      {%- include header/header.html -%}
      <hr>
      <main class="page-content" aria-label="Content">
        {{ content }}
      </main>
      {%- include footer/footer.html -%}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
  </div>
</html>